<!-- <app-students-component></app-students-component> -->

<div class="home-container">
    <div class="welcome-container">
        <h1 class="welcome-text">Welcome to Students System</h1>
        <div class="button-group">
          <button class="btn register-btn btn btn-outline-secondary" routerLink="/register" (click)="registerModal()">Register</button>
          <button class="btn login-btn btn btn-outline-secondary" routerLink="/login" (click)="loginModal()">Login</button>
        </div>
    </div>
</div>