
<div class="home-container">
    <div class="welcome-container">
        <h1 class="welcome-text">Welcome to Students System</h1>
        <div class="button-group">
          <button class="btn register-btn btn btn-outline-secondary" (click)="registerModal()">Register</button>
          <button class="btn login-btn btn btn-outline-secondary" (click)="loginModal()">Login</button>
        </div>
    </div>
</div>

<!-- <ng-template #loginModal>
    <div class="modal-header">
      <h4 class="modal-title" id="modal-basic-title">Login</h4>
      <button type="button" class="close" aria-label="Close" (click)="modal.dismiss('Cross click')">
        <span aria-hidden="true">&times;</span>
      </button>
    </div>
    <div class="modal-body">
      <app-login></app-login>
    </div>
  </ng-template> -->