<!-- <ng-template #loginModal let-modal> -->
    <div class="card-header text-center">
        <h1>Login</h1>
    </div>

    <section class="container ftco-section card mb-3">

        <div class="row modal-body">
            <form class="card-body">
                <div class="row mb-3">
                    <div class="col-3">
                        <label class="form-label">Username</label>
                    </div>
                    <div class="col-9">
                        <input class="form-control" [(ngModel)]="username" name="username" required>
                    </div>
                </div>
                

                <div class="row mb-3">
                    <div class="col-3">
                        <label class="form-label">Password</label>
                    </div>
                    <div class="col-9">
                        <input class="form-control" type="password" [(ngModel)]="password"  name="password" required>
                    </div>
                </div>
                
            </form>
        </div>
        <div class="modal-footer">
            <div class="d-flex justify-content-end">
                <!-- <button type="button" class="btn btn-outline-danger" (click)="closeModal('Close click')">Close</button> -->
                <button type="button" class="btn btn-outline-danger" (click)="closeModal()">Close</button>
                <button type="submit" class="btn btn-outline-success" (click)="login()">LogIn</button>
            </div>
            <!-- <p *ngIf="errorMessage" class="error-message">{{ errorMessage }}</p> -->
        </div>
    </section>
<!-- </ng-template> -->

  