<head>
    <link href='https://fonts.googleapis.com/css?family=Roboto:400,100,300,700' rel='stylesheet' type='text/css'>
    
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/font-awesome/4.7.0/css/font-awesome.min.css">
    <link href="https://cdnjs.cloudflare.com/ajax/libs/bootstrap-icons/1.10.3/font/bootstrap-icons.min.css" rel="stylesheet">
    </head>
    
<body>
    <!-- students.component.html -->

    <nav class="navbar navbar-dark bg-success">
        <div class="container-fluid">
          <a class="navbar-brand ms-auto">Welcome {{adminUsername | titlecase}}</a>
            <button type="button" class="btn btn-info btn-lg" (click)="logout()">
               Log out
            </button>
        </div>
    </nav>
    <section class="ftco-section">
        <div class="container">
            <div class="add-new-container">
                <button type="button" class="btn btn-success add-new-btn" (click)="addStudentModal()">
                    <i class="bi bi-plus"></i> Add New
                </button>
            </div>
            <div class="row">
                <div class="col-md-12">
                    <div class="table-wrap">
                        <table class="table table-responsive-xl">
                            <thead>
                                <tr>
                                    <th>&nbsp;</th>
                                    <th>Student Name</th>
                                    <th>Age</th>
                                    <th>Gender</th>
                                    <th>Email</th>
                                    <th>Country</th>
                                    <th>Status</th>
                                    <th>&nbsp;</th>
                                </tr>
                            </thead>
                            <tbody>
                                <tr *ngFor="let student of students.slice((p - 1) * itemsPerPage, p * itemsPerPage)" class="alert" role="alert">
                                    <td>
                                        <button type="button" class="btn btn-outline-info btn-sm" (click)="editStudentModal(student.id, student)">
                                            <i class="bi bi-pencil"></i>
                                        </button>
                                    </td>
                                    <td class="d-flex align-items-center">
                                        <span>{{ student.firstName | titlecase }} {{ student.lastName | titlecase }}</span>
                                    </td>
                                    <td>{{student.birthDate | age}}</td>
                                    <td>{{student.gender}}</td>
                                    <td>{{student.email}}</td>
                                    <td>{{student.country}}</td>
                                    <td class="status"><span class="active" [ngClass]="{ 'inactive': student.status === 'InActive' }">{{student.status}}</span></td>
                                    <td>
                                        <button type="button" class="btn btn-outline-danger btn-sm" (click)="deleteStudentModal(student.id)">
                                            <i class="bi bi-trash"></i>
                                        </button>
                                    </td>
                                </tr>
                                <nav aria-label="Page navigation example">
                                    <ul class="pagination">
                                      <li class="page-item" [class.disabled]="p === 1">
                                        <a class="page-link" aria-label="Previous" (click)="onPageChange(p - 1)">
                                          <span aria-hidden="true">&laquo;</span>
                                        </a>
                                      </li>
                                      <li class="page-item" *ngFor="let page of getPagesArray(); let i = index">
                                        <a class="page-link" (click)="onPageChange(i + 1)" [class.active]="p === i + 1">{{ i + 1 }}</a>
                                      </li>
                                      <li class="page-item" [class.disabled]="p === totalPages()">
                                        <a class="page-link" aria-label="Next" (click)="onPageChange(p + 1)">
                                          <span aria-hidden="true">&raquo;</span>
                                        </a>
                                      </li>
                                    </ul>
                                  </nav>
                            </tbody>
                        </table>
                    </div>
                </div>
            </div>
        </div>
    </section>

</body>
    
    